# Ignore these
.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
node_modules/
.git/**
.yarnrc
**/eslint.config.mjs
**/.vscode-test.*
.github/**
**/*.md
client/**
server/**

# But not these
!**/LICENSE
!node_modules/vscode-jsonrpc/**/*.j*
!node_modules/vscode-languageclient/**/*.j*
!node_modules/vscode-languageserver-protocol/**/*.j*
!node_modules/vscode-languageserver-types/**/*.j*
!node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**/*.j*
!node_modules/{semver,lru-cache,yallist}/**/*.j*
