# Ignore these
.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
node_modules/
.git/**
.yarnrc
**/eslint.config.mjs
**/.vscode-test.*
.github/**
**/*.md
client/**
server/**
themes/**
esbuild.js
.gitmodules
antlr.jar

# But not these
!**/LICENSE
!node_modules/vscode-jsonrpc/**/*.*j*
!node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**/*.j*
!node_modules/{semver,lru-cache,yallist}/**/*.j*
!node_modules/vscode-language*/**/*.j*
!node_modules/antlr4/**/*.*j*
!node_modules/fs-extra/**/*.*j*
!node_modules/universalify/**/*.*j*
!node_modules/graceful-fs/**/*.j*
!node_modules/jsonfile/**/*.*j*
!node_modules/lodash*/**/*.*j*
